*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    width: 100%;
    background: #a67c5b ;
    position: fixed;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}
.logo img {
    margin-left: 10px; 
    height: 60px;
    border-radius: 50%;
}

/* .logo a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
} */

.navbar a {
    display: block;
    padding: 23px 20px;
    color: #fff;
    text-transform:uppercase;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #6F4E37;
}
    

.header {
    height: 60vh !important;
    /* background-color: rgb(148, 148, 238); */
    background-image:url(../img/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #804000;

}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #0e0d0d;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15opx;
    padding: 10px 40px;
    color: #fff;
    border: 2px solid #6F4E37;
    text-decoration: none;
    background:#6F4E37;
    border-radius: 5%;

}
.btn:hover {
    background: none;
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}

.content {
    height: 50vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sau {
    padding: 50px;
    background:#a67c5b ;
    
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box {
    height: 13rem;
    width: 20rem;
    background: #6F4E37;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;
    padding: 3px;

}




.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #6F4E37;
    background:#fff ;
    font-size: 2rem;
    margin: 1rem 0;
}

.box-container .box h3 {
    font-size: 18px;
    color: #fff;
    padding: 2px;
}

.box-container .box p {
    font-size: 14px;
    padding: 0 5px;
}

 .about {
    background-image: url(../img/fondo2.jpg);
    background-attachment: fixed;
    /* background-color: aqua; */
    background-size: cover;
    text-align: center;
}

/* ·····pie de pagina·········· */

footer{
    background: #6F4E37;
    padding: 50px 0px 20px 0px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;

}
.partFooter{
    width: 20%;
    text-align: center;
}
.partFooter img{
    width: 60%;
    border-radius: 50%;
}

.partFooter h4{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    background-color:#a67c5b;
    border-radius: 5px;
    border: 1px #a67c5b;
    padding: 5px;
}
.contact{
    margin: 10px;
    display: block;
    text-align: left;
}
.contact > i{
    float: left;
    margin: 0px 0px 0px 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 28px;
    text-align: center;
    align-items: center;
}

.contact > p{
    margin-left: 50px;
    align-items: center;
    line-height: 28px;
    font-weight: 500;
    color: #fff;
}

.partFooter > a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: 300;
    padding: 10px;
    border-radius: 5px;

}


.social-media > a >i{
    font-size: 23px;
    color: #fff;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    margin-top: 10px;
    text-align: center;
    margin-right: 5px;
    transition: all ease-in-out .6s;
}

.social-media > a > i:hover{
    background-color: #804000;
    border-color:  #804000;
}